<% @question.answers.each do |comment| %>
  <div id=<%= 'answers_'+comment.id.to_s %> data-parent = <%= 'answers_'+comment.parent.to_s if comment.parent > 0 %> >
<!--
    <% if comment.parent >0 %>
      <p>
        <strong>id:</strong>
        <%= comment.parent %>
      </p>
    <% end %>
-->
    <p>
      <strong>Автор:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Ответ:</strong>
      <%= comment.body %>
    </p>
    <% if current_user %>
        <p>
        <% if current_user.id == comment.user_id  %>

          <%= link_to 'Удалить', [comment.question, comment],
                          method: :delete,
                          data: { confirm: 'Вы уверены?' }, remote: true %>
        <% end %>

          <%= link_to 'Ответить',createnewanswers_path(id_parent:comment.id, id_question:@question),
                      method: :get %>

        </p>

    <% end %>
  </div>

<% end %>
