<h1>Список вопросов:</h1>

<table>
  <% @question.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= link_to 'Посмотреть', question_path(question) %></td>
        <td><%= link_to 'Изменить', edit_question_path(question) %></td>
        <td><%= link_to 'Удалить', question_path(question),
                        method: :delete,
                        data: { confirm: 'Вы уверены?' } %></td>
      </tr>
      </tr>
  <% end %>
</table>
<p>
<%= link_to 'Новый вопрос', new_question_path %>