<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<h2>Comments</h2>
<% @question.answers.each do |comment| %>
    <p>
      <strong>Автор:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Ответ:</strong>
      <%= comment.body %>
    </p>

    <p>
      <%= link_to 'Destroy Comment', [comment.question, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </p>
<% end %>


<h2>Add a comment:</h2>
<%= form_with(model: [ @question, @question.answers.build ], local: true) do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>


<%= link_to 'Назад', question_index_path %>