<div id="question">
    <strong>Заголовок:</strong>
    <%= @question.title %>
    <strong>Автор:</strong>
    <%= User.find(@question.user_id).name %>
    <strong>Рейтинг:</strong>
      <div id="LikeCount" style="display:inline" ><%= @question.like %></div>
      <p>
        <strong>Вопрос:</strong>
        <br>
        <%= @question.text %>
      </p>
</div>


    <% if current_user %>
      <% current_userlike = Userlike.where(id_user: current_user.id, id_question: @question.id ) %>
      <% if  current_userlike.length> 0 %>
            <% if Time.zone.now - current_userlike[0].created_at < 3600 %>
            <div id="LikeStatus"><%= link_to 'Я передумал',likedown_path(id: @question.id), method: :post, remote: true %></div>
            <% else %>
                <%= "Уже голосовали" %>
            <% end %>
      <% else %>
        <div id="LikeStatus"><%= link_to 'Хорошо',likeup_path(id: @question.id), method: :post, remote: true %></div>
      <% end %>
    <% end %>
<hr>
<h2>Ответы:</h2>

<div id="Answer"><%= render 'answer' %></div>


<% if current_user %>
  <h2>Добавить ответ:</h2>
    <%= link_to 'Ответить',createnewanswers_path(id_parent:0, id_question:@question),method: :get %>
<% end %>

<%= link_to 'Назад', question_index_path %>

<% if current_user %>
<% else %>
    <% if @views == 3 %>
        <%= javascript_tag "alert('Вижу вам сдесь понравилось, для полного функционала зарегиструйтесь. Спасибо!')" %>
    <% end %>
<% end %>

<script>
    window.onload = function()
    {
        var masDOM = [];
        var answers = document.getElementById("Answer");
        var countchildren = answers.children.length;
        if (countchildren>0)
        {
            for (var i = 0; i < countchildren; i++) {
                var el = answers.children[i];
                if (el.getAttribute("data-parent").length>0)
                {
                    masDOM.push(el);
                }
            }

            if(masDOM.length>0)
            {
                for (var i = 0; i < masDOM.length; i++) {
                    var el_chindren = masDOM[i];
                    el_chindren.parentNode.removeChild(el_chindren);
                    el_chindren.style.position = "relative";
                    el_chindren.style.left = "30px";
                    var id_parent = el_chindren.getAttribute("data-parent");
                    var parent = document.getElementById(id_parent);
                    if (parent){
                        parent.appendChild(el_chindren);
                    }
                }
            }

        }
    }
</script>