<h1>Welcome</h1>

<%= form_with scope: :email, local: true do |form| %>
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %><br>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </p>

    <p>
      <%= form.submit %>
    </p>
<% end %>

<%= link_to 'Регистрация:', new_welcome_path %>
<p></p>
