<h1>Регистрация:</h1>

<%= form_with scope: :email,url:welcome_index_path, local: true do |form| %>
    <p>
      <%= form.label :name %>
      <%= form.text_field :Name %><br>
      <%= form.label :email %>
      <%= form.text_field :Email %><br>
      <%= form.label :password %>
      <%= form.password_field :Password %>
    </p>

    <p>
      <%= form.submit %>
    </p>
<% end %>


<p></p>