<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


   <% if current_user %>
        <%= "Добрый день! " %>
        <b>
        <%= current_user.name%>
        </b>
        <%= link_to 'Выйти', session_logout_path %>
        <%= link_to 'Профайл', users_show_path(id:current_user) %>
   <% else %>
        <%= link_to 'Войти', session_login_path %>
        <%= link_to 'Регистрация', registration_path %>
   <% end %>

   <%= yield %>

  </body>
</html>
